[[ -f .envrc.private ]] && source_env .envrc.private

if [[ "$HOSTNAME" == "foobar-vagrant" ]]; then
  export COMPOSE_FILE=docker-compose.yml:docker-compose.vagrant.yml
elif [[ "$OSTYPE" == "linux-gnu"* ]]; then
  export COMPOSE_FILE=docker-compose.yml:docker-compose.linux.yml
elif [[ "$OSTYPE" == "darwin"* ]]; then
  export COMPOSE_FILE=docker-compose.yml:docker-compose.mac.yml
fi

export USER_ID=$(id -u)
export GROUP_ID=$(id -g)
export RUBY_VERSION="2.7.2"
export VAGRANT_SYNC="rsync"
# export SQL_HOST="localhost"
